{% extends 'blog/base.html' %}

{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="col-12 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'blog:create' %}">Добавить статью</a>
        </div>
    </div>
</div>

<div class="container">
    {% for object in object_list %}
    <div class="col-5">
        <div class="card mb-4 box-shadow">
            <div class="card-header row text-center">
                <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
            </div>
            <div class="card-body">
                <h1 class="text-warning">{{ object.image }}</h1>
                <p class="text-justify">{{ object.description|truncatechars:100 }}</p>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'blog:view' object.pk %}">Смотреть</a>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'blog:edit' object.pk %}">Редактировать</a>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary"
                   href="{% url 'blog:delete' object.pk %}">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
