{% extends 'blog/base.html' %}

{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="" class="form-floating">
                        {% csrf_token %}
                        <p> Хотите удалить статью "{{ object.title}}"?</p>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Удалить</button>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary"
                         href="{% url 'blog:list' %}">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

