{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="bg-danger row text-center">
        {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="text-warning">{{ product.price_per_purchase }} ₽</h1>
                    <p class="text-justify">{{ product.description|truncatechars:100 }}</p>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary"
                       href="{% url 'catalog:product' product.pk %}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}